img{
width: 200px; ;
}

.cabecalho{
width: 1400px; 
height: 500px; 
background-color: hotpink;

}
.primeirasecao{
    display: flex;
    justify-content: space-between;
    width: 14etye00px;
    height: 500px; 
    background-color: orchid ( 218,112,214);
}

.divisao{
    width: 200px;
    height: 200px;
    background-color: rgb(151, 2, 77);
}